.TextInput {
    font-size: 16px;
    flex: 1 1 0;
    padding: 16px;
    border: 2px white dashed;
    border-radius: 8px;
    width: 100%;
    background-color: rgba(255,255,255,0.15);
    color: #FFFFFF;
    outline: none;
}

.TextInput:focus,
.TextInput:hover {
    background-color: rgba(255,255,255,0.3);
}


.Button {
    background: #ffffff;
    padding: 16px 32px;
    max-width: fit-content;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    flex: 1 1 0;
}

.Button[disabled] {
    background: #737373;
}

.Button:hover {
    background: #bdbdbd;
}

.Form {
    width: initial;
    display: flex;
    gap: 12px;
}

@media screen and (max-width: 512px){
    .Form {
        flex-direction: column;
        padding: 0 32px;
        width: 100%;
    }

    .Button {
        max-width: 100%;
    }
}