.NoMatchBody {
    gap: 32px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.NoMatchButton {
    background: rgba(255,255,255,.15);
    color: white !important;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 8px;

    transition: background-color 150ms;
}

.NoMatchButton:hover {
    background: rgba(255,255,255,.25);
}