html {
  font-size: 14px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:1.6;

  background-color: #262626;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height:1.2;
}

img {
  max-width: 100%;
  border-radius: 12px;
}

a {
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  word-break: break-word;
}

a:link {
  color: #FF6F61;
}

a:visited {
  color: #a16c37;
}

pre {
  overflow-x: scroll;
}

table, td, th {
  border: 2px dotted #646464;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
}

::selection {
  background-color: #3a866f;
  color: white;
}