.Card {
    position: relative;
    border-radius: 12px;
    padding: 24px 64px 24px 24px;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 2px #FF6F61 dotted;
    cursor: pointer;
    word-wrap: break-word;
    animation: card-appear 200ms ease-out forwards;
    color: white;
}

@keyframes card-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Card:hover {
    background-color: rgba(255, 111, 97, 0.25);
}

.Card * {
    margin: 0;
}